/*
  Sidebar Component Styling
*/

.sidebar {
  width: 100%;
  height: 100%;
  padding: 18% 15% 20% 15%;

  &__menu {
    width: 100%;
    padding: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;

    & img {
      width: 25px;
      height: 25px;
      margin-right: 12px;
    }

    & span {
      font-size: $menu;
    }
  }
}
