/*
  Bar Component Styling
*/

.Bar,
.mixProgress {
  display: flex;
  align-items: center;
  border-radius: 1.8rem;
  background-color: $main-color;
  margin-top: 0.5rem;

  &__bar {
    display: inline-block;
    border-radius: 1.8rem;
    background: $hover-color;
    margin-left: 2rem;
  }
}
