/*
  Funding Page Styling
*/

.fundingPage {
  &__optionBar {
    margin: 2.17rem 5% 2.17rem 6rem;
    display: flex;
    justify-content: space-between;

    &__state {
      font-size: 1.2rem;
      width: 12%;
      display: flex;
      justify-content: space-between;
      font-weight: bold;

      & span.selected .none-style-button {
        color: black;
        opacity: 1;
      }
      & span .none-style-button {
        color: #414141;
        opacity: 0.34;
      }
    }

    &__filter {
      width: 15rem;

      & .btn.btn-secondary {
        width: 100%;
        height: fit-content;
        padding: 0.1rem;
        font-size: 1.2rem;
        font-weight: 700;
        z-index: 2;
        @include content-circle($main-color, 22px, 2px, white);
        &:focus {
          box-shadow: none;
        }
      }

      & .dropdown-menu {
        width: 85%;
        text-align: center;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 2px 4px 0 $dark-purple;
        & > button {
          padding: 0rem;
          font-size: 1.2rem;
          font-family: 'GothamRoundBook';
          font-weight: 600;
          color: black;
          &:focus {
            outline: none;
          }
          &:active,
          &:hover {
            border: 1px solid transparent;
            border-radius: 10px;
            background-color: $light-purple;
          }
        }
      }
    }
  }

  &__postList {
    display: flex;
    flex-flow: row wrap;
    margin: 2% 4% 0 4rem;
  }
}
