/*
  Funding Page Styling
*/

.fundingPage {
  &__optionBar {
    margin: 2.17rem 9.6rem;
    display: flex;
    justify-content: space-between;

    &__state {
      font-size: $guidance;
      width: 20%;
      display: flex;
      justify-content: space-around;
      font-weight: bold;

      & span.selected .none-style-button {
        color: black;
        opacity: 1;
      }
      & span .none-style-button {
        color: #414141;
        opacity: 0.34;
      }
    }

    &__recommend {
      width: 18rem;
      & .btn.btn-secondary {
        font-size: $guidance;
        width: 100%;
        @include content-circle($main-color, 22px, white);
        padding: 0;
        &:focus {
          box-shadow: none;
        }
      }

      & .dropdown-menu {
        width: 85%;
        text-align: center;
        margin-left: 1rem;
        border-radius: 0 0 18px 18px;
      }
    }
  }

  &__postList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 7.7rem;
  }
}
