/*
  Logo Component Styling
*/

.logo {
  & img {
    vertical-align: bottom;
  }
  & span {
    color: black;
    font-family: 'Mansalva', cursive;
    font-size: 1.5rem;
    margin-left: 10px;
  }
}
