/*
  Profile Component Styling
*/

.profile {
  display: flex;
  justify-content: center;

  &__check {
    margin-top: 10%;
    @include content-center;

    & h2 {
      font-size: $header2;
      margin-bottom: 20px;
    }
  }

  &__form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-photo {
      margin-bottom: 40px;
      position: relative;

      &__delete {
        position: absolute;
        border: none;
        background-color: transparent;
        bottom: 3px;
        right: -7px;

        &:focus {
          outline: none;
        }

        &__btn {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: $white;
          box-shadow: 0 0 6px rgba($color: red, $alpha: 0.3);
          @include content-center;

          &-flag {
            width: 50%;
            height: 3px;
            background-color: red;
          }
        }
      }
    }

    &-desc {
      font-size: $guidance;
      color: $dark-gray;
      margin-bottom: 30px;
      text-align: center;
    }

    &__inputs {
      width: 100%;

      &-div {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }

    &-submit {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;

      & button:first-child {
        margin-right: 10px;
      }
    }
  }
}
