{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "object-curly-newline": 0
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
