.post {
  height: 550px;
  max-width: 300px;

  &__main {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &__hover {
      z-index: 1;
      position: absolute;
      top: 35%;
      left: 45.5%;

      &__icon {
        position: absolute;

        .bi {
          z-index: 2;
          width: 50px;
          height: auto;
          padding: 10px;
          border: 1px solid #d6c4c3;
          border-radius: 50%;
          color: #d2b2d9;
          background-color: white;

          &.bi-brush {
            color: #f59b47;
          }
        }
      }
    }

    &__header {
      width: 100%;
      height: fit-content;
      visibility: hidden;
      display: flex;
      justify-content: center;
      background-color: #fff4c9;

      &__title {
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
      }
    }

    &__content {
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &__imgBox {
        padding: 4.5% 4.5% 4.5% 4.5%;

        &__image {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    &__footer.funding {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

@media (hover: hover) {
  .post__main:hover {
    .post__main__content__imgBox {
      opacity: 0.3;
      background: #fff4d1;
    }
    .post__main__header {
      visibility: visible;
    }
  }
}
