/*
  Post Component Styling
*/

.post {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: fit-content;
  position: relative;
  margin: 2% 0;
  padding-bottom: 1rem;
  border-radius: 5px;
  cursor: pointer;

  &__hover {
    z-index: 1;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  &__body {
    height: 300px;
    display: flex;
    padding: 7px 25px 20px 25px;

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      & img {
        height: 100%;
      }
    }
  }
}

@media (hover: hover) {
  .post:hover {
    background-color: $hover-color;

    .post {
      &__body__image {
        opacity: 0.5;
      }

      &__hover {
        display: block;
      }
    }
  }
}
