/*
  Post Component Styling
*/

.post {
  width: 230px;
  height: fit-content;
  padding: 10px;
  border: 1px solid $main-color;
  position: relative;

  &__hover {
    z-index: 1;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  &__body {
    height: 300px;
    display: flex;
    justify-content: center;

    &__image {
      max-width: 100%;
      height: 100%;
    }
  }

  &__footer {
    &__title {
      height: auto;
      text-align: center;
      font-size: $header2;
      padding: 15px 0 5px 0;
      word-break: keep-all;
    }
  }
}

@media (hover: hover) {
  .post:hover {
    background-color: $hover-color;
    .post {
      &__body__image {
        opacity: 0.5;
      }
      &__hover {
        display: block;
      }
    }
  }
}
