/*
  Thumbnail Component Styling
*/

.thumbnail {
  display: flex;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &__image {
    border-radius: 50%;
    background: $white-gray;
    border: 1px solid $border-gray;
    overflow: hidden;

    &.default {
      @include content-center;
      user-select: none;

      & span {
        font-weight: bold;
        color: $light-gray;
      }
    }
  }
}
