/*
  Thumbnail Component Styling
*/

.thumbnail {
  display: contents;
  cursor: pointer;

  &__image {
    border-radius: 50%;
    background: 
     linear-gradient(ghostwhite, ghostwhite) padding-box,
     linear-gradient(127deg,#9a7af3, #ff9eae) border-box;
    border: 2px solid transparent;
  }
}
