/*
  Sidebar Menu Component Styling
*/

.sidebarMenu {
  width: 100%;
  padding: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__icon {
    width: 32px;
    margin-right: 12px;
  }

  &__name {
    font-size: $menu;
    color: $light-gray;

    &.active {
      color: $black;
    }
  }
}
