/*
  MixTable Component Styling
*/

.mixTable {
  background-color: white;
  z-index: 1005;
  width: 100%;
  height: 40%;
  position: fixed;
  bottom: 0;
  border-radius: 25px 25px 0 0;

  &.expanded {
    height: 80%;

    .mixTable__content {
      overflow-y: auto;
    }
  }

  &__header {
    height: 4rem;
    display: flex;
    justify-content: center;

    &__buttonText {
      font-size: 3.5rem;
      color: $main-color;
      font-weight: bolder;
    }
  }

  &__content {
    height: 100%;

    &__postList {
      margin: 0 2% 2% 2%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      &__post {
        display: flex;
        justify-content: center;
        width: 20%;
        margin: 2% 1%;
        img {
          width: 150px;
          height: 180px;
        }
      }
    }
  }
}

.blackMask {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1004;
  opacity: 40%;
}

.arrUp {
  @include arrow(up);
}

.arrDown {
  @include arrow(down);
}
