/* Colors */

$main-color: #a26bc3;
$background-color: #fff4c9;

$hover-color: #fff9e7;
$dark-purple: #9a82aa;
$light-purple: #e9d5f7;

$dark-gray: #353535;
$light-gray: #a7a7a7;
$white-gray: #f3f3f3;
$header-gray: #595959;
$border-gray: #979797;

$white: #ffffff;
$black: #000000;

$facebook-blue: #1776f2;

$transparent: rgba(0, 0, 0, 0);

:export {
  mainColor: $main-color;
  lightPurple: $light-purple;
  darkGray: $dark-gray;
  lightGray: $light-gray;
  white: $white;
  facebookBlue: $facebook-blue;
  transparent: $transparent;
}
