/* Colors */

$main-color: #a26bc3;
$sub-color: #d499b9;
$dark-purple: #2e294e;

$dark-gray: #353535;
$light-gray: #a7a7a7;

$background-color: #fff4c9;

$white: #ffffff;

:export {
  mainColor: $main-color;
  lightGray: $light-gray;
}
