/*
  Sign Up Page Styling
*/

.signUpPage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    margin-top: 50px;

    & p {
      font-size: $header2;
      margin: 0;
    }
  }

  &__content {
    padding: 20px 0;
  }

  &__footer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__signInLink {
      font-size: $description;
      margin-top: 12px;

      & a {
        text-decoration: underline;
        font-weight: 700;
      }

      & a:hover {
        text-decoration: underline;
        color: $dark-gray;
      }
    }
  }
}
