/*
  Sign Up Page Styling
*/

.signUpPage {
  @include content-full;
  @include content-center;
  background-color: $background-color;
  color: $light-gray;
  overflow-y: scroll;
  padding: 20px 0;

  &__header {
    padding: 10px 0;
  }
}
