/*
  Sign Up Page Styling
*/

@mixin content-center {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.signupPage {
  // border: solid 5px red;
  //top: 18%;
  position: fixed;
  width: 100%;
  height: 100%;

  &__step {
    //border: solid 3px black;

    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
  }

  &__type {
    //border: solid 3px black;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-head {
      // border: solid 3px red;
      // margin-top: 150px;
      display: flex;
      @include content-center;
      font-size: 2.5rem;
    }

    &-btn {
      //border: solid 3px green;
      display: flex;
      flex-flow: row wrap;
      margin-top: 10px;
      @include content-center;
      background-color: white;
    }
  }

  &__info {
    //border: solid 3px green;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__container {
      //border: solid 3px green;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 650px;

      height: 100%;
      background-color: white;

      &-head {
        //border: solid 1px blue;
        width: 650px;
        height: 120px;
        // margin-top: 150px;
        margin-bottom: 10px;
        justify-content: center;
        font-size: 2.3rem;
        .back {
          border: solid 1px red;
          position: relative;
          left: -20px;
          z-index: 3;
          width: 60px;
          margin: 0;
          border: none;
          cursor: pointer;
        }
        .title {
          //border: solid 3px yellow;
          text-align: center;
          position: relative;
          top: -55px;
          z-index: 2;
        }
      }

      &-input {
        // border: solid 1px grey;
        // border-radius: 1%;
        // box-shadow: 2px 2px 2px grey;
        width: 360px;
        height: 270px;
        padding-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        margin-bottom: 4px;
      }

      &__img {
        // border: solid 3px purple;
        justify-content: center;
        // align-self: center;
        width: 400px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-evenly;

        &__profile {
          // border: solid 1px blue;
          display: flex;
          flex-direction: column;
          text-align: center;

          // align-items: flex-end;
          &-preview {
            //border: solid #7b1fa2 2px;
            height: 120px;
            border-radius: 40%;
          }

          &-upload {
            display: none;
            margin-top: 10px;

            label {
              margin: 0;
            }
          }
        }

        &__input {
          // border: solid 1px red;
          margin: 0;
        }

        &-signup {
          text-align: center;
          margin-top: 40px;
        }
      }
    }
  }

  &__success {
    @keyframes float {
      0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-5px);
      }
      100% {
        transform: translatey(0px);
      }
    }
    // border: solid 3px red;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-head {
      margin-bottom: 48px;
      font-size: 3rem;
    }

    &-logo {
      img {
        animation: float 2s ease-in-out infinite;
      }
    }

    &-desc {
      margin-top: 16px;
      margin-bottom: 20px;
      font-size: 2rem;
    }
  }
}
