/*
  Sign Up Page Styling
*/

@mixin content-center {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.signupPage {
  top: 18%;
  position: fixed;
  width: 100%;
  height: 100%;

  &__back {
    border: none;
    background-color: none;
    display: block;
    margin-left: 50px;
    cursor: pointer;
  }

  &__type {
    display: inline-flexbox;
    position: absolute;
    @include content-center;
    width: 100%;
    height: 100%;

    &-head {
      display: flex;
      @include content-center;
      margin: 0;
      font-size: 2.5rem;
    }

    &-btn {
      display: flex;
      flex-wrap: wrap;
      @include content-center;
      height: 60%;
      background-color: white;
    }
  }

  &__info {
    @include content-center;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;

    &-text {
      display: block;
    }

    &-head {
      display: flex;
      @include content-center;
      margin: 0 0 1.5% 0;
      font-size: 2.5rem;
    }

    &-input {
      display: block;
      margin-bottom: 30px;
    }

    &-next {
      margin-top: 1.5%;
    }
  }

  &__profile {
    @include content-center;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;

    &-head {
      display: flex;
      @include content-center;
      margin: 0 0 1.5% 0;
      font-size: 2.5rem;
    }

    &-input {
      display: block;
      margin-bottom: 20px;
    }

    &__img {
      display: inline-block; 
      margin-top: 20px; 
      width: 220px;
      height: 140px;

      &-upload {
        display: inline-flex;
      }

      &-preview {
        @include content-center;  
        display: inline-flex;
        width: 90px;
        height: 90px;
        overflow: hidden;
        border: solid #7b1fa2 4px;
        border-radius: 34px;

        img {
          border-radius: 34px;
          width: 110%;
        }
      }
    }

    &-signup {
      @include content-center;
      display: block;
      margin-top: 1.5%;
    }
  }
}
