/*
  Favorite Page Styling
*/

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__guide {
    margin-bottom: 30px;

    & p {
      margin: 0;
      font-size: $header3;
      font-weight: lighter;
      text-align: center;
      color: $header-gray;
    }
  }
}
