/*
  Jumbotron Component Styling
*/

.jumbotron {
  height: 20rem;
  background-color: $background-color;

  &__content {
    height: 100%;
    margin: 0 3rem;
    color: $main-color;
    font-size: $max-header;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      font-weight: bolder;
    }

    &__line {
      width: 9.5rem;
      height: 0.5px;
      margin: 0;
      background-color: $main-color;
      border: 1px solid $main-color;
      border-radius: 10px;
      margin-bottom: 1rem;
    }

    &__description {
      font-family: GothanRoundedLight;
    }
  }
}
