/*
  Main Page Styling
*/

.mainPage {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__expanded {
    height: 150px;
    background-color: $nav-color;
    &__content {
      height: 100%;
      margin-left: 80px;
      font-family: GothamPro;
      font-stretch: normal;
      font-style: normal;
      color: #a26bc3;
      font-size: 28px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__title {
        font-weight: bolder;
      }

      &__line {
        max-width: 70px;
        margin: 0;
        border: 1px solid $main-color;
        margin-bottom: 10px;
      }
    }
  }

  &__newPost {
    margin: 20px auto 0 auto;
    width: 500px;
    border: 1px solid #ccd0d5;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: #f8f8f8;
    }
  }

  &__postList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2% 1% 0 1%;
  }
}
