/*
  Main Page Styling
*/

.mainPage {
  display: flex;
  flex-direction: column;

  &__postList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 2rem;
  }

  &__test {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0 2rem;
  }
}
