/*
  Main Page Styling
*/

.mainPage {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__postList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2% 4% 0 4%;
  }
}
