/*
  Main Page Styling
*/

@mixin content-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0%;
  left: 0;
}

.mainPage {
  width: 100%;
  height: 100%;
  overflow: scroll;

  &__header {
    @include content-full;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    overflow: scroll;

    &__intro {
      @include content-full;
      height: 100%;
      padding-top: 17%;

      &-head {
        font-family: flood-std, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 6rem;
        padding: 0;
        margin: 0;
      }

      &-describe {
        padding-top: 0.5%;
        margin: 0;
        font-size: 1.7rem;
      }

      &-btn {
        padding-top: 2%;
      }
    }

    &__signIn {
      @include content-full;
      height: 100%;
      top: 100%;
      padding-top: 10%;

      &__part {
        display: flex;
        justify-content: center;

        &-container {
          padding: 6.5% 4.5%;
          transition: 0.5s;
          &:hover {
            background-color: rgba(255, 255, 255, 0.6);
            box-shadow: 3px 4px 7px 5px rgba(0, 0, 0, 0.1);
          }
        }

        &__email {
          margin: 15px 0;
        }

        &__password {
          margin: 15px 0;
        }

        &-btn {
          padding-top: 10%;
          margin-bottom: 1.5%;
        }

        &__signUpLink a {
          font-size: 1rem;
          border-bottom: 1px solid black;
          transition: 0.3s;

          &:hover {
            padding: 0 3px;
            border-bottom: 1px solid $main-color;
            color: $main-color;
          }
        }
      }
    }
  }
}
