/*
  Upload Component Styling
*/

.postUpload {
  width: 500px;

  &__creator {
    &-uploadPic {
      width: 80%;
      margin: auto;
      margin-bottom: 5px;

      label {
        width: 100%;
        margin: 0;
        cursor: pointer;
      }
    }

    &-ratioSelect {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 5px;

      div {
        border: 1px solid #ccd0d5;
        cursor: pointer;
        padding: 2px;
      }
    }

    &-previewPic {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      min-height: 300px;
      margin: auto;
      border: 2px dotted #ccd0d5;
      border-radius: 4px;
      margin-bottom: 20px;
    }

    &-content {
      width: 80%;
      margin: auto;
    }
  }

  &__upload {
    margin-top: 20px;
    text-align: center;
  }
}
