/*
  Sign In Container Component Styling
*/

.signInContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: $white;
  width: 480px;
  height: auto;
  border-radius: 25px;
  color: $light-gray;

  &__form {
    width: 80%;

    &-linked {
      display: flex;
      justify-content: space-around;
      padding: 10px 0 20px 0;
      width: 100%;
    }

    &-division {
      display: flex;
      width: 100%;

      & hr {
        width: 100%;
      }

      & span {
        font-size: $guidance;
        padding: 5px 10px 0 10px;
      }
    }
  }
}
