/*
  MixComplete Component Styling
*/

.mixComplete {
  background-color: white;
  z-index: 1005;
  width: 80%;
  height: 85%;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  &__header {
    width: 100%;
    height: 25%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    &__title {
      color: $main-color;
      font-size: 1.9rem;
    }
    &__description {
      font-family: 'AppleSDGothicNeo';
    }
  }

  &__content {
    display: flex;
    width: 100%;
    height: 75%;

    &__leftBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 0 1%;
      &__imgBox {
        height: 90%;
        display: flex;
        justify-content: center;

        & img {
          max-width: 85%;
        }
      }
    }
    &__rightBox {
      margin: 3rem 0;
      width: 50%;
      padding: 0 3%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      & div {
        margin-bottom: 1rem;
      }

      &__checkBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &__option {
          display: flex;
          align-items: center;
          width: 50%;
          & input {
            margin-right: 2rem;
          }
          & span {
            font-size: 1.6rem;
          }
        }
      }

      &__categories {
        width: 100%;
        display: flex;
        flex-direction: row;
        &__category {
          margin-right: auto;
          &__name {
            color: $main-color;
          }
        }
      }

      &__tos {
        &__header {
          font-size: 1.6rem;
          font-family: 'GothamRoundMedium';
          font-weight: bolder;
        }
        &__description {
          margin-top: 1rem;
          & li {
            list-style: none;
            margin-top: 1rem;
          }
          color: #676767;
          font-family: 'GothamRoundLight';
          font-size: 1rem;
          line-height: 1rem;
        }
      }

      &__buttons {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        .noStyleButton {
          text-align: center;
          width: 100%;
          padding: 1rem 3rem;
          border-radius: 26px;
          border: 2px solid $main-color;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
