/*
  NavBar Component Styling
*/
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 5px;
  padding-bottom: 5px;

  &__primary{
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }

  &__logo {
    & img {
      vertical-align: bottom;
    }
    & span {
      color: black;
      font-family: "Mansalva", cursive;
      font-size: 1.5rem;
      margin-left: 10px;
    }
  }
}
