/*
  NavBar Component Styling
*/
nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 1500;
  padding: 0 !important;
}

.navBar {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  
  &__borderline-bottom {
    border-bottom: 0.5px solid #dbdbdb;
  }

  &__logo {
    display: flex !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 60px;
    
    &__img {
      padding-right: 7px !important;
    }

    &__text {
      font-family: flood-std, sans-serif;
      font-weight: 400;
      font-size: 1.8rem;
      padding: 0;
      margin-top: 0.5rem;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    background-color: white;
    padding-right: 5rem;

    &__item {
      display: flex;
      align-items: center;
      padding-right: 20px;

      &-active {
        font-weight: 400;
        color: black !important;
      }
    }
  }
}
