/*
  NavBar Component Styling
*/
.navBar {
  @at-root .navbar {
    //overriding bootstrap .navbar settings
    //background-color: white;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    padding: 0;
    width: 100%;
    height: 53px;
    z-index: 1500;
  }

  &__main {
    padding-top: 1%;
  }

  &__shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
  }

  &__logo {
    display: flex;
    padding: 0 0 0 60px;

    &-img {
      padding: 0 7px 0 0;
    }

    &-text {
      color: black;
      font: {
        family: flood-std, sans-serif;
        size: 1.5rem;
      }
      padding: 0;
      margin: 3px 0 0 0;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    //background-color: white;
    padding: 0 35px 0 0;

    &__item {
      display: flex;
      align-items: center;
      padding: 0 20px 0 0;
    }
  }
}
