/*
  PostHeader Component Styling
*/

.post__header {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  &.hidden {
    visibility: hidden;
    color: $header-gray;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'AppleSDGothicNeo';
    font-size: $title;
    font-weight: 500;
    padding: 5px 0;
  }
}
