/*
  NavBar Component Styling
*/
.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1001;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $nav-color;
  &__navItems {
    width: 100%;
    align-items: flex-end;
    &.customNav__open {
      margin-top: 20px;
      align-items: flex-start;
      & .navBar__navItems__search {
        order: -10;
      }
    }

    .nav-item {
      margin-left: 20px;
    }
    &__favorite {
      margin-right: auto;
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  cursor: pointer;
  font-family: GothamPro;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  color: #a26bc3;
  &.active {
    color: #a26bc3;
  }
}
