/*
  NavBar Component Styling
*/
.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1001;
  background-color: $nav-color;
  align-items: center;

  &__navItems {
    width: 100%;
    align-items: flex-end;
    &.customNav__open {
      margin-top: 3rem;
      align-items: flex-start;
      & .navBar__navItems__search {
        margin-bottom: 3rem;
        order: -10;
      }
    }

    &__search {
      margin-right: 3rem;
    }

    &__favorite {
      margin-right: auto;
    }
    &__user {
      margin-right: 5rem;
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  cursor: pointer;
  color: #a26bc3;
  &.active {
    color: #9b52c5;
  }
}
