/*
  NavBar Component Styling
*/

.navBar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1001;
  background-color: $background-color;
  align-items: center;

  &__logo {
    padding: 0.8rem 3rem;
  }

  &__navItems {
    width: 100%;
    align-items: flex-end;
    margin: 0 4rem;

    & #new,
    #funding,
    #favorite {
      padding: 0 1rem;
    }

    & #favorite {
      margin-right: auto;
    }

    & #search {
      margin-right: 1.3rem;
    }

    &__item {
      position: relative;

      &__point {
        position: absolute;
        left: 33%;
        width: 22px;

        &.disactive {
          visibility: hidden;
        }

        &.active {
          visibility: visible;
        }
      }
    }

    &.customNav__open {
      margin-top: 3rem;
      align-items: flex-start;
      & .navBar__navItems__search {
        margin-bottom: 3rem;
        order: -10;
      }
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  cursor: pointer;
  color: $main-color;
  font-size: $menu;

  &:hover {
    color: $main-color;
    font-weight: 600;
  }

  &.active {
    color: $main-color;
    font-weight: 600;
  }
}
