/*
  Search Component Styling
*/

.searchTab {
  width: 160px;
  height: fit-content;
  padding: 1px 10px 1px 2px;
  @include content-circle($main-color, 25px, transparent);

  display: flex;
  flex-direction: row;
  margin: 5px 0;

  &__button {
    border: none;
    background-color: transparent;

    &:active,
    &:focus {
      outline: 0;
    }
  }
}
