/*
  Search Component Styling
*/

.searchTab {
  width: 175px;
  height: fit-content;
  padding: 1%;
  @include content-circle($main-color, 25.5px, transparent);
  display: flex;
  flex-direction: row;
  &__button {
    border: none;
    background-color: transparent;
  }
}
