/*
  User Page Styling
*/

.userPage {
  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    &__thumb {
      position: relative;
      margin-bottom: 1rem;
      &__edit {
        border: none;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        right: -1.5rem;
        &:focus {
          outline: none;
        }
        & img {
          width: 2.7rem;
          height: 2.7rem;
        }
      }
    }
    &__profile {
      margin-bottom: 3.5rem;
      &__name {
        font-family: 'GothamRoundBold';
        font-size: 2.2rem;
        font-weight: bold;
        color: $main-color;
        text-shadow: 0 2px 2px $main-color;
      }
    }

    &__rowTab {
      width: 100%;
      position: relative;
      &__buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        &__button {
          font-size: 1.3rem;
          color: $header-gray;
          padding: 0.5rem 1.5rem;
          margin: 0 2rem;
          border: none;
          background-color: transparent;
          &:focus {
            outline: none;
          }
        }
        &__upload {
          position: absolute;
          height: inherit;
          left: 5%;
          & button {
            border: none;
            background-color: transparent;
            padding: 0;

            &:focus {
              outline: none;
            }
          }
        }
        &__button.activated {
          @include content-circle(transparent, 42.5px, 0, $main-color);
          color: white;
        }
      }
    }
  }

  &__postList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 4%;
    margin-right: 4%;
  }
}
