/*
  User Page Styling
*/

.userPage {
  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;

    &__header {
      display: flex;
      justify-content: center;
      width: 50%;
      margin-bottom: 50px;

      &__thumb {
        margin: 10px 20px 0 20px;
      }

      &__profile {
        margin-left: 20px;

        &-name-set {
          display: flex;
          align-items: flex-end;

          & .nameArea {
            display: inline-block;

            & h1 {
              margin: 0;
              margin-bottom: -14px;
              padding-left: 10px;
              padding-right: 18px;
              font-family: 'DM Serif Text', serif;
              font-size: 35px;
              color: #3d3d3d;
            }

            & #nameUnderBar {
              width: inherit;
              height: 12px;
              background-image: linear-gradient(
                to right,
                rgba(154, 122, 243, 0.5),
                rgba(255, 158, 174, 0.5)
              );
            }
          }

          & .settingArea {
            margin-left: 17px;
            margin-bottom: 2px;
            cursor: pointer;

            & .settingButton {
              border: none;
              background-color: transparent;
            }
            & img {
              width: 30px;
              height: 30px;
              transform: rotate(30deg);
            }
          }
        }

        &-status {
          padding: 5px;
          min-height: 50px;

          & p {
            margin: 0;
            font-size: 18px;
            color: #4a4a4a;
            word-break: break-all;
          }
        }

        &-follow {
          display: flex;
          padding: 0 5px;

          & .followBox {
            font-size: 19px;

            & .followTitle {
              font-weight: 600;
              color: #4a4a4a;
              margin-right: 10px;
            }
          }

          & .followBox:first-child {
            margin-right: 20px;
          }
        }
      }
    } /* end header css */

    &__body {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-left: 2%;
      margin-right: 2%;
    }
  }
}
