/*
  User Page Styling
*/

.userPage {
  &__header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__thumb {
      position: relative;
      margin-bottom: 1rem;
    }
    &__profile {
      margin-bottom: 3.5rem;
      &__name {
        font-family: 'GothamRoundBold';
        font-size: 1.5rem;
        font-weight: bold;
        color: $main-color;
        text-shadow: 0 2px 2px $main-color;
      }
    }

    &__rowTab {
      width: 100%;

      &__buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        & button {
          @include content-circle(transparent, 42.5px, 0, $main-color);
          color: white;
          padding: 0.5rem 1.5rem;
          margin: 0 2rem;
          &:focus {
            outline: none;
          }
        }
        &__upload {
          position: absolute;
          left: 0;
          & button {
            color: black;
            border: none;
            background-color: transparent;
            &:focus {
              outline: none;
            }
          }
        }
      }

      &:nth-child(1) {
        justify-self: flex-start;
      }
    }
  }

  &__postList {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
  }
}

.editButton {
  position: relative;
  bottom: 0;
  right: 0;
  @include content-circle(transparent, 50%, 0, white);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.5rem;
  &:focus {
    outline: none;
  }
}
