/*
  ImageCropper Component Styling
*/

.imageCropper {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  button:focus {
    outline: none;
  }
  &__creator {
    margin-bottom: 1rem;
    height: 100%;
    &-previewPic {
      height: 100%;
      position: relative;
      display: flex;
      margin: auto;
      border: 2px dotted #ccd0d5;
      background-color: rgba(255, 244, 201, 0.3);

      &__remove {
        margin: 0.5rem;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        color: $main-color;
        font-weight: bolder;
        font-size: 1.5rem;
      }

      &__empty {
        position: relative;
        width: 100%;
        background-color: $background-color;
        opacity: 50%;
        &-uploadPic {
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          label {
            margin: 0;
            cursor: pointer;
            font-family: 'GothamRound';
            color: $main-color;

            &:hover {
              animation: buttonHover 0.3s ease;
              animation-fill-mode: forwards;
              border-radius: 18px;
              padding: 1rem;
              background-color: $main-color;
              color: white;
            }
          }
        }
      }

      .cropper {
        margin: auto;
        max-width: 80%;
        max-height: 100%;
      }
    }
  }
}

@keyframes buttonHover {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}
