/*
  Post Component Styling
*/

.post {
  width: 500px;
  display: flex;
  box-shadow: 3px 4px 7px 5px rgba(0, 0, 0, 0.1);

  &__header {
    display: flex;
    align-items: center;
    border: none;

    &-name {
      font-family: sans-serif bold, cursive;
    }
    &-type {
      font-size: 0.8rem;
      color: gray;
    }
  }

  &__body {
    padding-left: 0;
    padding-right: 0;

    * {
      width: 100%;
    }
  }

  &__footer {
    border: none;
    img {
      cursor: pointer;
    }
  }
}
