/*
  Post Component Styling
*/

.post{
  display: flex;
  justify-content: center;
  z-index: 1000;

  &__postSection {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #eeeeee;

    &__header {
      padding: 15px 20px;
      display: flex;

      &__postInfo{
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__userName{
          font-family: 'DM Serif Text', serif;
          font-size: 1.1rem;
          margin-right: 7px;
        }

        &__userType, &__postDate{
          font-size: 0.9rem;
          color: #777777;
        }
      }
    }

    &__body {

      &__postImage{
        width: 100%;
      }
    }

    &__footer {
      padding: 15px 20px 10px 20px;

      &__postContent{
        font-size: 1rem;
      }

      &__postHashtag{
        display: flex;

        &-tagbox{
          cursor: pointer;
          color: $main-color;
          font-size: 0.9rem;
          margin-right: 5px;

          &:hover{
            background-color: rgba(154, 122, 243, 0.3);
          }
        }
      }

      &__communicateArea{
        width: 100%;
        height: 50px;
        margin-top: 15px;
        padding-top: 5px;
        border-top: 1px solid #e6e6e6;
        display: flex;
        justify-content: space-between;

        &__like, &__comment, &__scrap{
          cursor: pointer;
          width: 33%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 2px 0;

          &:hover{
            background-color: #f8f8f8;
          }

          &-num{
            margin-left: 10px;
            color: #707070;
          }
        }
      }
    }
  }

  &__commentSection{
    width: 300px;
    // z-index: -1;
  }
}

