@import "./Colors.scss";
@import "./Pages/index";
@import "./Components/index";
@import url("https://use.typekit.net/dwx4ixd.css"); // (adobe) flood-std font
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap"); // (google) Roboto font

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
