/* Constants */
@import 'Constants/colors.scss';
@import 'Constants/font-size.scss';
@import 'Constants/layout.scss';
/* Components Style */
@import 'Components/Common/Logo';
@import 'Components/Common/NavBar';
@import 'Components/Common/Jumbotron';
@import 'Components/Form/TextField';
@import 'Components/Form/Button/NoStyleButton';
@import 'Components/Post/Post';
@import 'Components/Post/Comment';
@import 'Components/Thumbnail';
@import 'Components/Sign/SignInForm';
@import 'Components/Sign/SignUpForm';
@import 'Components/Upload/UploadPost';
@import 'Components/Search/';
/* Pages Style */
@import 'Pages/GuidePage';
@import 'Pages/MainPage';
@import 'Pages/SignInPage';
@import 'Pages/SignUpPage';
@import 'Pages/UserPage';
@import 'Pages/ProfilePage/';
@import 'Pages/ShopPage/';
@import 'Pages/SearchPage/';
@import 'Pages/FundingPage/';
@import 'Pages/FavoritePage';
@import 'Pages/CartPage/';
@import 'Pages/NewPage';
@import 'Pages/NotFoundPage/';
@import 'Pages/SearchPage/';
@import 'Pages/DetailPage';
/* Fonts */
@import url('https://use.typekit.net/dwx4ixd.css'); // (adobe) flood-std font
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); // (google) Roboto font
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap'); // (google) Mansalva
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap'); // (google) NotoSans font
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap'); // (google) DM Serif Text font
@font-face {
  font-family: 'GothamRound';
  src: url('Assets/fonts/gotham-rounded/GothamRounded-Medium.otf');
}

@font-face {
  font-family: 'GothamRoundLight';
  src: url('Assets/fonts/gotham-rounded/GothamRounded-Light.otf');
}

@font-face {
  font-family: 'GothamRoundBook';
  src: url('Assets/fonts/gotham-rounded/GothamRounded-Book.otf');
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  src: url('Assets/fonts/AppleSDGothicNeo/AppleSDGothicNeoM.ttf');
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overflow-y: overlay;

  @media screen and (max-width: 1920px) {
    font-size: 17.5px;
  }
  @media screen and (max-width: 1600px) {
    font-size: 15px;
  }
  @media screen and (max-width: 1440px) {
    font-size: 12.5px;
  }
  @media screen and (max-width: 1024px) {
    font-size: 10px;
  }
  @media screen and (max-width: 800px) {
    font-size: 7.5px;
  }

  font-family: GothamRound, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #000000;
    &:hover {
      text-decoration: none;
      color: #000000;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
