/* Constants - Color */
@import 'Constants/Color.scss';
/* Components Style */
@import 'Components/Common/TextField';
@import 'Components/Common/Thumbnail';
@import 'Components/Main/NavBar';
@import 'Components/Post/Post';
@import 'Components/Post/Comment';
@import 'Components/SignUp/SignUpForm';
@import 'Components/Upload/UploadPost';
/* Pages Style */
@import 'Pages/GuidePage';
@import 'Pages/HomePage';
@import 'Pages/MainPage';
@import 'Pages/SignUpPage';
@import 'Pages/UserPage';
@import 'Pages/ShopPage/';
@import 'Pages/SearchPage/';
/* Fonts */
@import url('https://use.typekit.net/dwx4ixd.css'); // (adobe) flood-std font
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); // (google) Roboto font
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap'); // (google) Mansalva
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap'); // (google) NotoSans font
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap'); // (google) DM Serif Text font

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a {
    color: #000000;
    &:hover {
      text-decoration: none;
      color: #000000;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
