/*
  Home Page Styling
*/

.homePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 80px;

  &__newPost {
    width: 100%;
    border: 1px solid #ccd0d5;
    border-radius: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  &__postInput {

  }
  &__post {
  }

  &__feed {
    display: flex;
    flex-direction: column;
  }
}
