/*
  Sign In Page Styling
*/

.signInPage {
  @include content-full;
  @include content-center;
  background-color: $background-color;
  color: $light-gray;
  padding: 20px 0;

  &__header p {
    font-size: $header2;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: $white;
    width: 480px;
    height: auto;
    border-radius: 25px;

    &__form {
      width: 80%;

      &-linked {
        display: flex;
        justify-content: space-around;
        padding: 10px 0 20px 0;
        width: 100%;
      }

      &-division {
        display: flex;
        width: 100%;

        & hr {
          width: 100%;
        }

        & span {
          font-size: $guidance;
          padding: 5px 10px 0 10px;
        }
      }
    }
  }

  &__footer {
    font-size: $basic;
    padding-top: 20px;

    & a {
      font-weight: 600;
      color: $main-color;
      border-bottom: 1px solid $main-color;
      margin-left: 8px;

      &:hover {
        font-weight: 700;
        color: $main-color;
        border: 0;
      }
    }
  }
}
