/*
  Sign In Page Styling
*/

.signInPage {
  @include content-full;
  @include content-center;
  background-color: $background-color;
  color: $light-gray;
  padding: 20px 0;

  &__header p {
    font-size: $header2;
  }

  &__footer {
    font-size: $basic;
    padding-top: 20px;

    & a {
      font-weight: 600;
      color: $main-color;
      border-bottom: 1px solid $main-color;
      margin-left: 8px;

      &:hover {
        font-weight: 700;
        color: $main-color;
        border: 0;
      }
    }
  }
}
